__pycache__/
*.py[cod]

.cockpit/
.superpowers/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
build/
dist/
vendor/
/cockpit/
/home/
/src/cockpit/terminal/bindings/_libvterm.so
/src/cockpit/terminal/bindings/cockpit/
/src/cockpit/terminal/bindings/home/
/web/layout-editor/node_modules/
